<%= form_with(model: survey, local: true) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :public %>
    <%= form.check_box :public %>
  </div>

  <div class="field">
    <%= form.label :creationDate %>
    <%= form.datetime_select :creationDate %>
  </div>

  <div class="field">
    <%= form.label :expiryDate %>
    <%= form.datetime_select :expiryDate %>
  </div>

  <div class="field">
    <%= form.label :likes %>
    <%= form.number_field :likes %>
  </div>

  <div class="field">
    <%= form.label :dislikes %>
    <%= form.number_field :dislikes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
