<%= form_with(model: survey, local: true) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :survey_name %>
    <%= form.text_field :survey_name, required: true %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= hidden_field_tag 'user_id', current_user %>
  </div>

  <div class="field">
    <%= form.label :public %>
    <%= form.check_box :public %>
  </div>

  <div class="field">
    <%= form.label :creationDate %>
    <%= form.datetime_select :creationDate %>
  </div>

  <div class="field">
    <%= form.label :expiryDate %>
    <%= form.datetime_select :expiryDate %>
  </div>

  <div class="field">
    <%= form.label :likes %>
    <%= form.number_field :likes %>
  </div>

  <div class="field">
    <%= form.label :dislikes %>
    <%= form.number_field :dislikes %>
  </div>

  <br><br><br><br>
  <h1> Questions </h1>
  <table class='table'>
    <thead>
      <tr>
        <th>Question String</th>
        <th>Multiple Choice</th>
        <th>Multiple Answer</th>
        <th></th>
      <tr>
    </thead>
    <tbody class="questions" frame='box'>
      <%= form.fields_for :questions do |questions_form| %>
        <%= render 'question_fields', f: questions_form %>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= link_to_add_association 'Add Question', form, :questions %><br>
    <%= form.submit %>
  </div>
<% end %>
