<table frame='box' class='nested-fields'>
<tr>
  <td>
    <%= f.label :questionString %>
    <%= f.text_field :questionString %>
  </td>
  <td>
    <%= f.label :multipleChoice %>
    <%= f.check_box :multipleChoice %>
  </td>
  <td>
    <%= f.label :multipleAnswer %>
    <%= f.check_box :multipleAnswer %>
  </td>
  <td>
    <%= link_to_remove_association "Remove Question", f %>
    <%#= form.hidden_field :_destroy %>
    <%#= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
</tr>
  <table class='question_options'>
    <thead>
      <tr>
        <th>Option String</th>
        <th>Correct?</th>
        <th></th>
      <tr>
    </thead>
    <tr>
      <td>
        <%= link_to_add_association 'Add Option', f, :question_options %><br>
      </td>
      </tr>
      <tr>
      <td>
        <%= f.fields_for :question_options do |question_options_form| %>
          <%= render 'question_option_fields', f: question_options_form %>
        <% end %>
      </td>
    </tr>
  </table>
</table>
