<tr>
  <td>
    <%= form.label :optionString %>
    <%= form.text_field :optionString %>
  </td>
  <td>
    <%= form.label :correct %>
    <%= form.check_box :correct %>
  </td>
  <td>
    <%= form.hidden_field :_destroy %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
    <%#= link_to_remove_association "Remove Question", form, class: 'btn btn-primary' %>
  </td>
</tr>
