<% if params['drafts'] == 'true' and user_signed_in? then %>
<div class="page-content-wrapper" style="height: 100vh;min-width: 400px;">
<div class="container-fluid" style="height: 100%;">
    <div class="row" style="background-color: #a3a3a3;">
        <div class="col col-md-1" style="max-width: 60px;"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars" style="color: #d55122;"></i></a></div>
        <div class="col text-center d-inline-block">
            <h1 class="d-inline" style="color: #d55122;margin-bottom: 0;">My Surveys</h1>
            <%= image_tag ("SurveyEmpireLogo2.png"), class: "d-inline float-right", style: 'width:50px' %>
            <div style="height: 40px;"></div>
        </div>
    </div>
    <div class="row" style="background-image: url(<%= asset_path 'background_6.jpg' %>);min-height: calc(100% - 88px);">
        <div class="col">
            <div >
                <table class="table display" id="" style="background-color: #df7c59;color: #fff;border-color:#fff;">
                    <thead>
                        <tr>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Survey Title</th>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Public?</th>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Date Created</th>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Expiry Date</th>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Questions</th>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Rating</th>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Analysis</th>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Answer Survey</th>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Edit</th>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @surveys.each do |survey| %>
                            <tr>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;"><%= survey.survey_name%></td>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;"><%= survey.public %></td>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;"><%= survey.creationDate%></td>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;"><%= survey.expiryDate%></td>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;"><%= survey.questions.size%></td>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;"><%= survey.ratings.average(:rating_value)%></td>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;"><%= link_to 'Show Analysis', survey_path(survey) + '?analyse=true', class:"link-table" %></td>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;"><%= link_to 'Answer Survey', survey_path(survey) + '?answered=false', class:"link-table" %></td>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;"><%= link_to 'Edit', edit_survey_path(survey), class:"link-table" %></td>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;"><%= link_to 'Delete', survey, method: :delete, data: { confirm: 'Are you sure?' }, class:"link-table" %></td>
                            </tr> 
                        <% end %> 
                    </tbody>
                </table>
            </div>
            <div style="padding: 0px;margin-top: 10px;">
                <div class="row">
                    <div class="col">
                      <%= link_to 'Create New Survey', new_survey_path, class:"btn btn-primary Load", style: "box-shadow: 0 0 0 0 transparent;width: 100%;background-color: #d55122;border-color: #d55122;margin-bottom: 20px;"%>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<% else %>
<div class="page-content-wrapper" style="height: 100vh;min-width: 400px;">
<div class="container-fluid" style="height: 100%;">
    <div class="row" style="background-color: #a3a3a3;">
        <div class="col col-md-1" style="max-width: 60px;"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars" style="color: #d55122;"></i></a></div>
        <div class="col text-center d-inline-block">
            <h1 class="d-inline" style="color: #d55122;margin-bottom: 0;">Survey Search</h1>
            <%= image_tag ("SurveyEmpireLogo2.png"), class: "d-inline float-right", style: 'width:50px' %>
            <div style="height: 40px;"></div>
        </div>
    </div>
    <div class="row" style="background-image: url(<%= asset_path 'background_6.jpg' %>);min-height: calc(100% - 88px);">
        <div class="col">
            <div>
                <table class="table display" id="" style="border-color:#fff;">
                    <thead>
                        <tr>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Survey Title</th>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Date Created</th>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Expiry Date</th>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Questions</th>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Rating</th>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Analysis</th>
                            <th class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;">Answer Survey</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                          <% @surveys.each do |survey| %>
                            <tr>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;"><%= survey.survey_name%></td>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;"><%= survey.creationDate%></td>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;"><%= survey.expiryDate%></td>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;"><%= survey.questions.size%></td>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;border-color:#fff;"><%= survey.ratings.average(:rating_value).presence || '-'%>/5</td>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;"><%= link_to 'Show Analysis', survey_path(survey) + '?analyse=true', class:"link-table" %></td>
                              <td class="text-center" style="color: #fff;background-color: #df7c59;"><%= link_to 'Answer Survey', survey_path(survey) + '?answered=false', class:"link-table" %></td>
                            </tr>
                        <% end %>  
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>
<% end %>