<p id="notice"><%= notice %></p>
<% if params['answered'] == 'true' or params['belongsToUser'] == 'true' or params['analyse'] == 'true' then %>
  <p>
    <strong>Name:</strong>
    <%= @survey.survey_name %>
  </p>

  <p>
    <strong>Expirydate:</strong>
    <%= @survey.expiryDate %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= @survey.likes %>
  </p>

  <p>
    <strong>Dislikes:</strong>
    <%= @survey.dislikes %>
  </p>

  <%# template for tables for questions - there would obviously be an unknown number of questions and answers, so this <table>
    must be generated using javascript from the streamed data (FRONT END) %>
  <span id="streamed_data">questionTitle</span>
  <span id="tableOfQuestions"></span><br>
  <%#= Rails.application.routes.url_helpers.surveys_survey_analytics_path(@survey) %><br>

  <%= link_to 'Edit', edit_survey_path(@survey) %> |
  <%= link_to 'Add Question', survey_questions_path(@survey) %> |
  <%= link_to 'Back', surveys_path %>

<% else %>
  Enter form to answer survey
  <%= render 'answer_survey_form', survey: @survey %>
  <%= @survey.user_id %>
<% end %>
