-<p id="notice"><%= notice %></p>
<% if params['answered'] == 'true' or params['belongsToUser'] == 'true' then %>
  <p>
    <strong>Name:</strong>
    <%= @survey.survey_name %>
  </p>

  <p>
    <strong>Expirydate:</strong>
    <%= @survey.expiryDate %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= @survey.likes %>
  </p>

  <p>
    <strong>Dislikes:</strong>
    <%= @survey.dislikes %>
  </p>

  Here we should display the survey results and data analytics
  To start with, and for testing purposes, I'll make the program list all
  QuestionAnswer objects relating to all questions in the survey
  <h2>Questions</h2>
  <% for question in @questions %>
    <ul>
      <li><%= question.questionString %>
      <%= link_to 'Show Question', survey_question_path(@survey, question) %>
      <%
        totalAnswers = question.question_answers.size
        if question.multipleChoice == true && question.multipleAnswer == true then
          #Tickbox question with a set of correct option/s, so we should monitor:
            # number of people who found at least one of the correct answers
          atLeastOneCorrectAnswer = 0
            # number of people who found all correct answers
          allCorrectAnswers = 0
            # number of people who found ONLY the correct answers
          onlyCorrectAnswers = 0
        elsif question.multipleChoice == true then
          #Radio button question with a given "correct" option/s
            # number of people who found one of the correct answers
          oneCorrectAnswer = 0
        else
          #Typed answer where there's a given "correct" option/s
            # number of people who found one of the correct answers
          oneCorrectAnswer = 0
        end
      %>
      There were:
      <%= totalAnswers %> Answers
      <%
        options = question.question_options
        correctOptions = question.question_options.where(:correct => true)
        totalCorrectOptions = correctOptions.size
      %>
      Possible options are:
      <% for option in options %>
        <%= option.optionString %>
        <% if !correctOptions.empty? then %>
          <% if option.correct == true then %>
            &#10004;
          <% else %>
            &#10060;
          <% end %>
        <% end %>
      <% end %>
      Correct options are:
      <% for option in correctOptions %>
        <%= option.optionString %>
        <% if !correctOptions.empty? then %>
          <% if option.correct == true then %>
            &#10004;
          <% else %>
            &#10060;
          <% end %>
        <% end %>
      <% end %>
        <ul>
        <% for questionAnswer in question.question_answers %>
          <li>
            <% if question.multipleChoice == true then %>
              <%# go through each of the selections that the user did %>
              <%# (might only be one option) %>
              User id is:
              <%= questionAnswer.user_id %>
              <% if question.multipleAnswer == true then %>
                . They selected these options:
              <% else %>
                <%# multiple choice, but the user only selected one option :) %>
                . They selected THIS option:
              <% end %>
              <ul>
                <% correctSelections = 0 %>
                <% incorrectSelections = 0 %>
                <% for selection in questionAnswer.question_option_selections %>
                  <li>
                    <%= selection.text %>
                    <% if selection.correct == true then %>
                      &#10004;
                      <% correctSelections = correctSelections + 1 %>
                    <% else %>
                      &#10060;
                      <% incorrectSelections = incorrectSelections + 1 %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
              They got:
              <%= correctSelections %>
              Selections Correct and
              <%= incorrectSelections %>
              Selections Incorrect
              <% if question.multipleAnswer == true then
                #tickbox question
                if correctSelections == totalCorrectOptions && incorrectSelections == 0 then
                  # got question COMPLETELY correct
                  onlyCorrectAnswers = onlyCorrectAnswers + 1
                elsif correctSelections == totalCorrectOptions then
                  # found all correct options
                  allCorrectAnswers = allCorrectAnswers + 1
                elsif correctSelections >= 1 then
                  # found at least one correct option
                  atLeastOneCorrectAnswer = atLeastOneCorrectAnswer + 1
                end
              else
                #radio button question (1 selection)
                if correctSelections == 1 then
                  oneCorrectAnswer = oneCorrectAnswer + 1
                end
              end %>

            <% else %>
              <%# single typed answer %>
              <%# print out questionAnswer.givenAnswer %>
              <%= questionAnswer.givenAnswer %>
              , User id is:
              <%= questionAnswer.user_id %>
              <br>
              <% if questionAnswer.givenAnswer == correctOptions.first.optionString then %>
                this was correct
                <% oneCorrectAnswer = oneCorrectAnswer + 1 %>
                <%= oneCorrectAnswer %>
              <% else %>
                this was incorrect
              <% end %>
            <% end %>
            <br>
            Time taken was:
            <%= (questionAnswer.created_at - questionAnswer.timeStarted) %>
            Seconds.
            <br>
            <br>

          </li>
        <% end %>
        </ul>
        <% if question.multipleChoice == true && question.multipleAnswer == true then %>
            Percentage completely correct:
            <%= (onlyCorrectAnswers.to_f / totalAnswers.to_f) * 100 %> %
            <br>
            Percentage who found all correct answers:
            <%= (allCorrectAnswers.to_f / totalAnswers.to_f) * 100 %> %
            <br>
            Percentage who found at least one correct answer:
            <%= (atLeastOneCorrectAnswer.to_f / totalAnswers.to_f) * 100 %> %
            <br>
            Percentage completely incorrect:
            <%= ((totalAnswers.to_f - onlyCorrectAnswers.to_f - allCorrectAnswers.to_f - atLeastOneCorrectAnswer.to_f) / totalAnswers.to_f) * 100 %> %
            <br>
        <% elsif question.multipleChoice == true then %>
            Percentage who und at least one correct answer:
            <%= (oneCorrectAnswer.to_f / totalAnswers.to_f) * 100 %> %
            <br>
        <% else %>
            Percentage who found at least one correct answer:
            <%= (oneCorrectAnswer.to_f / totalAnswers.to_f) * 100 %> %
            <br>
        <% end %>
      </li>
    </ul>
  <% end %>

  <%= link_to 'Edit', edit_survey_path(@survey) %> |
  <%= link_to 'Add Question', survey_questions_path(@survey) %> |
  <%= link_to 'Back', surveys_path %>

<% else %>
  Enter form to answer survey
  <%= render 'answer_survey_form', survey: @survey %>
  <%= @survey.user_id %>
<% end %>
