<p id="notice"><%= notice %></p>
<%
  
  if params['answered'] == 'true' or params['belongsToUser'] == 'true' then %>
  <p>
    <strong>Name:</strong>
    <%= @survey.survey_name %>
  </p>

  <p>
    <strong>Creationdate:</strong>
    <%= @survey.creationDate %>
  </p>

  <p>
    <strong>Expirydate:</strong>
    <%= @survey.expiryDate %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= @survey.likes %>
  </p>

  <p>
    <strong>Dislikes:</strong>
    <%= @survey.dislikes %>
  </p>

  Here we should display the survey results and data analytics
  To start with, and for testing purposes, I'll make the program list all
  QuestionAnswer objects relating to all questions in the survey
  <h2>Questions</h2>
  <% for question in @survey.questions %>
    <ul>
      <li><%= question.questionString %>
      <%= link_to 'Show Question', survey_question_path(@survey, question) %>
      <% for questionAnswer in question.question_answers %>
        User id is:
        <% questionAnswer.user_id %>
        ,
        <% if question.multipleChoice == true && question.multipleAnswer == true then %>
          <%# go through each of the selections that the user did %>
        <% elsif question.multipleChoice == true %>
          <%# print out the selection that the user selected %>
        <% else %>
          <%# print out questionAnswer.givenAnswer %>
          <%= questionAnswer.givenAnswer %>
        <% end %>
      <% end %>
      </li>
    </ul>
  <% end %>

  <%= link_to 'Edit', edit_survey_path(@survey) %> |
  <%= link_to 'Add Question', survey_questions_path(@survey) %> |
  <%= link_to 'Back', surveys_path %>

  <p>
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </p>

<% else %>
  Enter form to answer survey
  <%= render 'answer_survey_form', survey: @survey %>
  <%= @survey.user_id %>
<% end %>
