<p id="notice"><%= notice %></p>
<% if params['answered'] == 'true' or params['belongsToUser'] == 'true' then %>
  <p>
    <strong>Name:</strong>
    <%= @survey.survey_name %>
  </p>

  <p>
    <strong>Expirydate:</strong>
    <%= @survey.expiryDate %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= @survey.likes %>
  </p>

  <p>
    <strong>Dislikes:</strong>
    <%= @survey.dislikes %>
  </p>

  Here we should display the survey results and data analytics
  To start with, and for testing purposes, I'll make the program list all
  QuestionAnswer objects relating to all questions in the survey
  <h2>Questions</h2>
  <% for question in @survey.questions %>
    <ul>
      <li><%= question.questionString %>
      <%= link_to 'Show Question', survey_question_path(@survey, question) %>
        <ul>
        <% for questionAnswer in question.question_answers %>
          <li>
            <% if question.multipleChoice == true then %>
              <%# go through each of the selections that the user did %>
              <%# (might only be one option) %>
              User id is:
              <%= questionAnswer.user_id %>
              <% if question.multipleAnswer == true then %>
                . They selected these options:
              <% else %>
                <%# multiple choice, but the user only selected one option :) %>
                . They selected THIS option:
              <% end %>
              <ul>
                <% for selection in questionAnswer.question_option_selections %>
                  <li>
                    <%= selection.text %>
                    <% if selection.correct == true then %>
                      &#10004;
                    <% else %>
                      &#10060;
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <%# print out questionAnswer.givenAnswer %>
              <%= questionAnswer.givenAnswer %>
              , User id is:
              <%= questionAnswer.user_id %>
            <% end %>
            Time taken was:
            <%= (questionAnswer.created_at - questionAnswer.timeStarted) %>
            Seconds.
          </li>
        <% end %>
        </ul>
      </li>
    </ul>
  <% end %>

  <%= link_to 'Edit', edit_survey_path(@survey) %> |
  <%= link_to 'Add Question', survey_questions_path(@survey) %> |
  <%= link_to 'Back', surveys_path %>

<% else %>
  Enter form to answer survey
  <%= render 'answer_survey_form', survey: @survey %>
  <%= @survey.user_id %>
<% end %>
