<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question_answer.question %>
</p>

<p>
  <strong>Survey:</strong>
  <%= @question_answer.survey %>
</p>

<p>
  <strong>User:</strong>
  <%= @question_answer.user %>
</p>

<p>
  <strong>Givenanswer:</strong>
  <%= @question_answer.givenAnswer %>
  <strong>Selections:</strong>
  <% for question_option_selection in @question_answer.question_option_selections %>
    <ul>
      <li><%= QuestionOption.optionString.where(:id => question_option_selection.id) %>
    </ul>
  <% end %>
</p>

<p>
  <strong>Timestarted:</strong>
  <%= @question_answer.timeStarted %>
</p>

<p>
  <strong>Timeended:</strong>
  <%= @question_answer.timeEnded %>
</p>

<%= link_to 'Edit', edit_question_answer_path(@question_answer) %> |
<%= link_to 'Add Selection', question_answer_question_option_selections_path(@question_answer) %> |
<%= link_to 'Back', question_answers_path %>
