<%= form_with(model: [@question_answer, question_option_selection, local: true) do |form| %>
  <% if question_option_selection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_option_selection.errors.count, "error") %> prohibited this question_option_selection from being saved:</h2>

      <ul>
      <% question_option_selection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_option_id %>
    <%= form.text_field :question_option_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
